form {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ddd;
}
.register {
  background-color: lightgray;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 4px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
